In [1]:
# Assignment1. 9 may

In [2]:
#Question 1

In [3]:
a = "Sandeep singh"

In [4]:
b = [1,2,3,"sandeep singh"]

In [5]:
c = 135.22

In [6]:
d = (8,"I am sandeep", 7.9)

In [7]:
print(type(a), type(b), type(c), type(d))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

In [8]:
# Question 2

In [9]:
var1 = " "

In [10]:
print(type(var1))

<class 'str'>

In [11]:
 # var2 = [ DS , ML , Python]
    #In a 2nd this is wrong list because DS is not defined.

In [12]:
var3 = ['DS' , 'ML' , 'Python' ]  # var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 3rd one is also incorrect. but i correct it.

In [13]:
print(type(var3))

<class 'list'>

In [14]:
var4 = 1.  # var4 contain float.

In [15]:
print(type(var4))

<class 'float'>

In [16]:
# Question 3. Explain the use of the following operators using an example:

In [17]:
#3(1) / = This operator is a part of airthmetic operator. it is used to division. for example.

In [18]:
x = 12
y = 3

print(x / y)

4.0

In [19]:
#3(2). % = modules operator. it will give us a reminder.

In [20]:
x = 15
y = 2

print(x % y)

1

In [21]:
#3(3). // = Floor division is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [22]:
x = 15
y = 2

print(x // y)

7

In [23]:
#3(4). ** = This operator is exponent operator. this operator use as a power of 1st number.for example

In [24]:
x = 2
y = 5
print(2 ** 5)
# In this operator multiply 2 as a 2*2*2*2*2.

32

In [25]:
'''Question 4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
   element and its data type.'''

'Question 4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\n   element and its data type.'

In [26]:
ls = ["Hello", "PW", 2.0, "mango", True, 54,36, 10+2j, "sandeep", " "]
for i in ls:
    print(i)
    if i == 9:
        continue
    print(type(i))

Hello
<class 'str'>
PW
<class 'str'>
2.0
<class 'float'>
mango
<class 'str'>
True
<class 'bool'>
54
<class 'int'>
36
<class 'int'>
(10+2j)
<class 'complex'>
sandeep
<class 'str'>

<class 'str'>

In [27]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

'Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.'

In [28]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

count = 0
while A%B == 0:
    count +=1
    A/=B
if count > 0:
    print("A is purely divisible by B")
    print("A can be divisible by B",count, "times")
else:
    print("A is not purely divisible by B")

Enter the value of A:  20
Enter the value of B:  10

A is purely divisible by B
A can be divisible by B 1 times

In [ ]:
""" Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not. """

In [29]:
my_list = [15, 6,23, 10, 12, 17, 21,33,69,102,73, 354, 45, 13, 46, 49, 31,86,103, 2636, 4654, 334, 7594, 1343, 18]

for num in my_list:
    if num % 3 == 0:
        print(num,"is divisible by 3")
    else:
        print(num, "is not divisible by 3")

15 is divisible by 3
6 is divisible by 3
23 is not divisible by 3
10 is not divisible by 3
12 is divisible by 3
17 is not divisible by 3
21 is divisible by 3
33 is divisible by 3
69 is divisible by 3
102 is divisible by 3
73 is not divisible by 3
354 is divisible by 3
45 is divisible by 3
13 is not divisible by 3
46 is not divisible by 3
49 is not divisible by 3
31 is not divisible by 3
86 is not divisible by 3
103 is not divisible by 3
2636 is not divisible by 3
4654 is not divisible by 3
334 is not divisible by 3
7594 is not divisible by 3
1343 is not divisible by 3
18 is divisible by 3

In [ ]:
""" Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property. """

In [ ]:
""" In python, mutable data types are those that can be changed or modified after they are created.
While immutable data types can not be changed after  they are created.
string and tuples are immutable.
List, sets are mutable."""

In [31]:
# Example of immutable dat types:
my_string = "Hello"
my_string[0] = "y" 
#TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [32]:
my_tuple = (1, 2, 3)
my_tuple[0] = 4
# TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Example of mutable datatypes

In [33]:
my_ls = [1,2 ,3]
my_ls[0] = 5
print(my_ls) 
# list is modified.

[5, 2, 3]